<div class="select_ingredient">
  <div class="container mb-3">
    <div class="row ">
    <!--<div class="row justify-content-center">
      <div class="col-6 col-sm-4 col-md-3 col-xl-2 my-2">
  -->      
    <div class="col-6 col-md-4 col-xl-3 my-2">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Rum" value="option1">
          <label class="form-check-label" for="inlineRadio1">Rum</label>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Wiskey" value="option2">
          <label class="form-check-label" for="inlineRadio2">Wiskey</label>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="AperitifAlcohol" value="">
          <label class="form-check-label" for="inlineRadio3">Aperitif alcohol</label>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="WineBased" value="">
          <label class="form-check-label" for="inlineRadio5">Wine-based alcohol</label>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OtherAlcohol" value="">
          <label class="form-check-label" for="inlineRadio4">Other alcohol</label>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Soda" value="">
          <label class="form-check-label" for="inlineRadio5">Soda</label>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Juice" value="">
          <label class="form-check-label" for="inlineRadio6">Juice</label>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Fruit" value="">
          <label class="form-check-label" for="inlineRadio7">Fruit</label>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Sugar" value="">
          <label class="form-check-label" for="inlineRadio8">Sugar</label>
        </div>
    </div>
      <div class="col-6 col-md-4 col-xl-3 my-2">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Coffee" value="">
          <label class="form-check-label" for="inlineRadio9">Coffee/Tea</label>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Spiced" value="">
          <label class="form-check-label" for="inlineRadio10">Spiced</label>
        </div>
      </div>
    </div>
  </div>
  <div class="container">  
    <div class="row justify-content-center">
      <div class="col-6 col-md-4 col-xl-2 my-2">
        <form #RumTypeform="ngForm" (click)="getCocktails(RumTypeform.value)">
          <select class="form-select form-select-sm Rum hidden" ngModel name="Rum" aria-label=".form-select-sm">
            <option value="" disabled selected hidden>Rum</option>
            <option value="151 proof rum">151 proof rum</option>
            <option value="Añejo rum">Añejo rum</option>
            <option value="Dark rum">Dark rum</option>
            <option value="Light rum">Light rum</option>
            <option value="rum">Rum</option>
            <option value="Spiced rum">Spiced rum</option>
            <option value="White rum">White rum</option>
          </select>
        </form>
        <form #WiskeyTypeform="ngForm" (click)="getCocktails(WiskeyTypeform.value)">
          <select class="form-select form-select-sm Wiskey hidden" ngModel name="Wiskey" aria-label=".form-select-sm">
            <option value="" disabled selected hidden>Wiskey</option>
            <option value="Blended whiskey">Blended whiskey</option>
            <option value="Bourbon">Bourbon</option>
            <option value="Irish whiskey">Irish whiskey</option>
            <option value="Jack Daniels">Jack Daniels</option>
            <option value="Johnnie Walker">Johnnie Walker</option>
            <option value="Scotch">Scotch</option>
            <option value="Whiskey">Wiskey</option>
          </select>
        </form>
        <form #Alcoholform="ngForm" (click)="getCocktails(Alcoholform.value)">
          <select class="form-select form-select-sm Aperitif alcohol hidden" ngModel name="Alcohol" aria-label=".form-select-sm">
            <option value="" disabled selected hidden>Aperitif alcohol</option>
            <option value="Gin">Gin</option>
            <option value="Malibu rum">Malibu rum</option>
            <option value="Ricard">Ricard</option>
            <option value="Tequila">Tequila</option> 
            <option value="Passoa">Passoa</option>
            <option value="Vodka">Vodka</option>
            <option value="Lemon vodka">Lemon vodka</option>
            <option value="Absolut Citron">Absolut Citron</option>
            <option value="Peach Vodka">Peach Vodka</option>
          </select>
        </form>
        <form #OtherAlcoholform="ngForm" (click)="getCocktails(OtherAlcoholform.value)">
          <select class="form-select form-select-sm Other alcohol hidden" ngModel name="OtherAlcohol" aria-label=".form-select-sm">
            <option value="" disabled selected hidden>Other alcohol</option>
            <option value="Absinthe">Absinthe</option>
            <option value="Amaretto">Amaretto</option>
            <option value="Applejack">Applejack</option>        
            <option value="Baileys Irish cream">Baileys Irish cream</option>
            <option value="Cointreau">Cointreau</option>
            <option value="Triple sec">Triple sec</option>
            <option value="Beer">Beer</option>
            <option value="Lager">Lager(Beer)</option>
            <option value="Ale">Ale(Beer)</option>
          </select>
        </form>
        <form #Wineform="ngForm" (click)="getCocktails(Wineform.value)">
          <select class="form-select form-select-sm Wine-based alcohol hidden" ngModel name="WineForm" aria-label=".form-select-sm">
            <option value="" disabled selected hidden>Wine-based alcohol</option>
            <option value="Apple brandy">Apple brandy</option>
            <option value="Apricot brandy">Apricot brandy</option>
            <option value="Blackberry brandy">Blackberry brandy</option>
            <option value="Brandy">Brandy</option>
            <option value="Champagne">Champagne</option>
            <option value="Coffee brandy">Coffee brandy</option>
            <option value="Cognac">Cognac</option>
            <option value="Dry Vermouth">Dry Vermouth</option>
            <option value="Dubonnet Rouge">Dubonnet Rouge</option>
            <option value="Lillet">Lillet</option>
            <option value="Pisco">Pisco</option>
            <option value="Prosecco">Prosecco</option>
            <option value="Sweet Vermouth">Sweet Vermouth</option>
            <option value="Wine">Wine</option>
            <option value="Red wine">Red wine</option>
            <option value="White wine">White wine</option>
          </select>
        </form>
        <form #Sodaform="ngForm" (click)="getCocktails(Sodaform.value)">
          <select class="form-select form-select-sm Soda hidden" ngModel name="SodaForm" aria-label=".form-select-sm">
            <option value="" disabled selected hidden>Soda</option>
            <option value="7-Up">7 up</option>
            <option value="Coca-cola">Coca-cola</option>
            <option value="Carbonated Water">Carbonated Water</option>
            <option value="Lemonade">Lemonade</option>
            <option value="Sprite">Sprite</option>
            <option value="Soda water">Soda water</option>
            <option value="Tonic water">Tonic water</option>
          </select>
        </form>
        <form #Juiceform="ngForm" (click)="getCocktails(Juiceform.value)">
          <select class="form-select form-select-sm Juice hidden" ngModel name="Juice" aria-label=".form-select-sm">
            <option value="" disabled selected hidden>Juice</option>
            <option value="Apple juice">Apple juice</option>
            <option value="Cranberry juice">Cranberry juice</option>
            <option value="Lemon juice">Lemon juice</option>
            <option value="Grape juice">Grape juice</option>
            <option value="Grapefruit juice">Grapefruit juice</option>
            <option value="Lime juice">Lime juice</option>
            <option value="Orange juice">Orange juice</option>
            <option value="Passion fruit juice">Passion fruit juice</option>
            <option value="Pineapple juice">Pineapple juice</option>
            <option value="Peach nectar">Peach nectar</option>
            <option value="Tomato juice">Tomato juice</option>
          </select>
        </form>
        <form #Fruitform="ngForm" (click)="getCocktails(Fruitform.value)">
          <select class="form-select form-select-sm Fruit hidden" ngModel name="Fruitform" aria-label=".form-select-sm">
            <option value="" disabled selected hidden>Fruit</option>
            <option value="Berries">Berries</option>
            <option value="Cranberries">Cranberries</option>
            <option value="Grapes">Grapes</option>
            <option value="Kiwi">Kiwi</option>
            <option value="Lemon">Lemon</option>
            <option value="Lemon peel">Lemon peel</option>
            <option value="Lime">Lime</option>
            <option value="Mango">Mango</option>
            <option value="Olive">Olive</option>
            <option value="Orange">Orange</option>      
            <option value="Orange peel">Orange peel</option>
            <option value="Pineapple">Pineapple</option>       
            <option value="Sherry">Sherry</option>
            <option value="Strawberries">Strawberries</option>
          </select>
        </form>
        <form #Sugarform="ngForm" (click)="getCocktails(Sugarform.value)">
          <select class="form-select form-select-sm Sugar hidden" ngModel name="Sugar" aria-label=".form-select-sm">
            <option value="" disabled selected hidden>Sugar</option>          
            <option value="Sugar syrup">Sugar syrup</option>
            <option value="Chocolate syrup">Chocolate syrup</option>
            <option value="Sugar">Sugar</option>
            <option value="Brown sugar">Brown sugar</option>
            <option value="Demerara sugar">Demerara sugar</option>
            <option value="Powdered sugar">Powdered sugar</option>
          </select>
        </form>
      <form #Coffeeform="ngForm" (click)="getCocktails(Coffeeform.value)">
          <select class="form-select form-select-sm Coffee/Tea hidden" ngModel name="Coffee" aria-label=".form-select-sm">
            <option value="" disabled selected hidden>Coffee/Tea</option>
            <option value="Coffee">Coffee</option>
            <option value="Espresso">Espresso</option>
            <option value="Milk">Milk</option>
            <option value="Tea">Tea</option>
          </select>
        </form>
        <form #Spicedform="ngForm" (click)="getCocktails(Spicedform.value);">
          <select class="form-select form-select-sm Spiced hidden" ngModel name="SpicedForm" aria-label=".form-select-sm">
            <option value="" disabled selected hidden>Spiced</option>         
            <option value="Chocolate">Chocolate</option>
            <option value="Cinnamon">Cinnamon</option>
            <option value="Cocoa powder">Cocoa powder</option>
            <option value="Ginger">Ginger</option>
            <option value="Mint">Mint</option>
            <option value="Nutmeg">Nutmeg</option>
            <option value="Salt">Salt</option>
            <option value="Tabasco sauce">Tabasco sauce</option>
          </select>
        </form> 
      </div>
    </div>
  </div>
<!-- ######### COCKTAIL CARD #########  -->

   <div class="row justify-content-center"> 
     <div *ngFor="let data of cocktail.drinks" class="col-6 col-md-4 col-lg-3 mb-3 d-flex justify-content-center">
        <div class="card text-center" style="width: 15rem;">
          <img src="{{ data.strDrinkThumb }}" class="card-img-top" alt="{{ data.strDrink }}">
         <div class="card-body">
            <p class="card-text"><a [routerLink]="['CocktailRecipe', data.idDrink]" routerLinkActive="active" class="btn neons stretched-link text-decoration-none">{{ data.strDrink }}</a></p>
          </div>
        </div>
      </div>